header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 480px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.desknav{
  display: none;
}

.mobile-container {
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #7E4331;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  margin-top: 10px;
}

.active {
  background-color: #fff;
  color: white;
}
.active img{
  width: 100px;
  height: 30px;
}


/* HERO */
.hero {
  position: relative;
  background-color: var(--sColor) 0.4;
  overflow: hidden;
  border-radius: 0px 0px 100px 100px;
  height: 300px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.hero .carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  border-radius: 0px 0px 100px 100px;
  transition: opacity 1s ease-in-out;
}
.hero .content {
  position: relative;
  z-index: 1;
  /* max-width: 800px; */
  margin-top: 30px;
  margin-left: 0px;
  padding-top: 50px;
  padding-left: 20px;

  /* padding: 10px 5px; */
  /* text-align: center; */
}

.hero .content h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 1px;
  color: var(--pColor);
  font-family: var(--pFontFamily);
  line-height: 25px;
  letter-spacing: 0px;
}

.hero .content p {
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 1px;
  font-weight: var(--font-weight-bold);
  color: var(--pColor);
}

.hero .btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--pColor);
  border-radius: 0 50px 50px 50px;
  transition: background-color 0.2s ease-in-out;
}


 /* ABOUT   */
 .about{
  background-color: #fdd0a5;
}

.about h2{
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1px;
  padding-top: 70px;
  color: var(--pColor);
  font-family: var(--pFontFamily);
  text-align: center;
}
.about p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
  color: #414141;
}

.about .statement{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  gap: 30px;
}
.about .mission{
  background-color: white;
  overflow: hidden;
  border-radius: 0px 0px 100px 100px;
  height: 250px;
  width: 350px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.mission h3{
  text-align: center;
  color: var(--pColor);
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 40px;
}
.mission p{
  text-align: center;
  font-weight: bold;
}
.vision{
  background-color: white;
  overflow: hidden;
  border-radius: 0px 0px 100px 100px;
  height: 250px;
  width: 350px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.vision h3{
  text-align: center;
  color: var(--pColor);
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 40px;
}
.vision p{
  text-align: center;
  font-weight: bold;
}
/* SERVICES */

.services h2{
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1px;
  padding-top: 70px;
  color: var(--pColor);
  font-family: var(--pFontFamily);
  text-align: center;
}
.services p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
  color: #414141;
}
.services-carousel{
  margin-left: 50px;
}
.slide{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
.projects h2{
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1px;
  padding-top: 70px;
  color: var(--pColor);
  font-family: var(--pFontFamily);
  text-align: center;
}
.projects p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
  color: #414141;
}

.fashyEstate{
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0px 0px 200px 200px;
  height: 600px;
  width: 600px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  margin-left: 0px;
  margin-bottom: 30px;
}
.fashy-images{
  display: flex;
  flex-direction: row;
  gap: 20px;
 padding: 20px;
}
.fashy-images .img {
  align-items: center;
  justify-content: center;
}
.fashyEstate h4{
  font-weight: bold;
  font-size: 23px;
  color: #7E4331;
  text-align: center;
}
.fashyEstate p{
  text-align: center;
}
.fashyEstate a{
  text-align: center;
}
.fashyEstate button{
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--pColor);
  border-radius: 0 50px 50px 50px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border: 0px;
}
.fashyEstate button:hover{
  background-color: var(--sColor);
  color: #7E4331;
}

.selected-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact3div{
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.map-container {
  padding-bottom: 300px;
  padding-left: 15px;
  /* position: relative; */
}

.map-container iframe {
  /* position: relative; */
  width: 350px;
  height: 250px;
  border-radius: 20px;
  border: #7E4331 300px;
}
.contact-form iframe{
  width : 400px;
  height: 500px;
}

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
    .header {
      padding: 20px;
      height: auto;
    }
    .logo {
      margin: 0;
      text-align: center;
    }
    .nav {
      display: none;
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .menu-icon span {
      display: block;
      width: 30px;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      background: #333;
      border-radius: 5px;
    }
    .menu-icon span:nth-child(2) {
      width: 20px;
    }
    .menu-icon span:nth-child(3) {
      width: 10px;
    }
    .menu-toggle:checked ~ .nav {
      display: block;
      text-align: center;
      background: #fff;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .menu-toggle:checked ~ .nav a {
      display: block;
      padding: 10px;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
    }
  }
  
@media only screen and (max-width: 600px) {
    .carousel img {
      opacity: 1;
    }
    .content {
      padding: 50px;
    }
    .content h1 {
      font-size: 36px;
    }
    .content p {
      font-size: 16px;
      margin-bottom: 30px;
    }
    .btn {
      font-size: 16px;
      padding: 10px 20px;
    }
    .hero::before {
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
    }
  }
  