.desknav{
  display: none;
}

.topnav {
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #7E4331;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  margin-top: 10px;
}

.active {
  background-color: #fff;
  color: white;
}
.active img{
  width: 100px;
  height: 30px;
}